.Icontainer {
    margin: auto;
    width: 1080px;
    height: 1000px;
    position: relative;

    border: 1px solid black;
    background-color: silver;
  }

.CardContainer {
    height: 300px;
    width: 870px;
    position: absolute;
    box-sizing: border-box;
    
    bottom: 0;
    background-color: olive;
}